<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayStation</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <script src="/JS/login.js"></script>
</head>

<body>

    <header>
        <div class="header-container">
            <a href="/">
                <img class="logo" src="/Images/pagina/logo.webp" alt="Logo">
            </a>
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>
            <nav>
                <ul class="nav-list">
                    <li><a href="cursos">cursos</a></li>
                    <li><a href="misCursos">Mis Cursos</a></li>
                    <li id="enlace-ingresar"><a href="login">Ingresar</a></li>
                </ul>
            </nav>  
            <!-- Contenedor de usuario (invisible hasta que inicie sesión) -->
            <div id="usuario-info" style="display: none;" onclick="toggleUserMenu()">
                <img id="foto-usuario" src="" alt="Foto de perfil">
                <span id="nombre-usuario"></span>
            </div>

            <!-- Menú desplegable de usuario (invisible hasta que inicie sesión) -->
            <div id="user-menu" style="display: none;">
                <img id="foto-usuario-menu" src="" alt="Foto de perfil">
                <span id="nombre-usuario-menu"></span>
                <button onclick="redirigirPerfil()" id="editarPerfilBtn">Editar perfil</button>
                <button id="cerrar-sesion" onclick="cerrarSesion()">Cerrar sesión</button>
            </div>
        </div>
    </header>

    <script>
        function toggleMenu() {
            const navList = document.querySelector('.nav-list');
            navList.classList.toggle('show');
        }
        function redirigirPerfil() {
            const nombreUsuario = document.getElementById('nombre-usuario').textContent;  // Obtener el nombre de usuario
            window.location.href = `/perfils?usuario=${nombreUsuario}`;  // Redirigir a perfil.html con el nombre
        }
    </script>


    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-ab727e06-cb3b-4f22-be26-5e6f74efaa8c" data-elfsight-app-lazy></div>

    <main class="container">
        <section class="main-content">
            <h2>Cursos</h2>
            <p>Atrevete a aprender nuevas habilidades</p>

            <div>
                <h3>Mysql</h3>
                <p>MySQL es un sistema de gestión de bases de datos relacional desarrollado bajo licencia dual</p>
                <div class="conImg">
                    <img src="/Images/pagina/s.webp" alt="Days Gone">
                    <img src="/Images/pagina/My.webp" alt="Days Gone">
                    <img src="/Images/pagina/s.webp" alt="Days Gone">
                    <img src="/Images/pagina/la.webp" alt="Days Gone">
                    <img src="/Images/pagina/s.webp" alt="Days Gone">
                </div>
            </div>

            <div>
                <h3>JS + Node.js</h3>
                <p>aprende a como utilizar js con node js, extendera tus horizontes</p>
                <div class="conImg">
                    <img src="/Images/pagina/js.webp" alt="The Last of Us">
                    <img src="/Images/pagina/js2.webp" alt="The Last of Us">
                    <img src="/Images/pagina/js3.webp"alt="The Last of Us">
                    <img src="/Images/pagina/js4.webp" alt="The Last of Us">
                    <img src="/Images/pagina/js5.webp" alt="The Last of Us">
                </div>
            </div>

            <div>
                <h3>CSS</h3>
                <p>Aprende a como estilizar tus paginas con CSS</p>
                <div class="conImg">
                    <img src="/Images/pagina/css.webp" alt="The Last of Us">
                    <img src="/Images/pagina/css2.webp" alt="The Last of Us">
                    <img src="/Images/pagina/css3.webp" alt="The Last of Us">
                    <img src="/Images/pagina/css4.webp" alt="The Last of Us">
                    <img src="/Images/pagina/css5.webp" alt="The Last of Us">
                </div>
            </div>
        </section>

        <aside class="sidebar">
            <h2>Amplia tus conocimientos</h2>
            <div>
                <img class="juegosV" src="/Images/pagina/aa.webp" alt="Horizon">
            </div>
            <br><br>
            <div>
                <img class="juegosV" src="/Images/pagina/sqlite.webp" alt="Horizon">
            </div>
            <br><br>
            <div>
                <img class="juegosV" src="/Images/pagina/postman.webp" alt="God of War">
            </div>
            <br><br>
            <div>
                <img class="juegosV" src="/Images/pagina/React.webp" alt="God of War">
            </div>
            <br><br>
            <div>
                <img class="juegosV" src="/Images/pagina/php.webp" alt="God of War">
            </div>
        </aside>
    </main>
</body>

</html>